<h1> Create Account </h1>

<form method="POST" action="/auth/signup">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="email" name="emailAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label>Phone number</label>
        <input type="string" name="phoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>House Number</label>
        <input type="number" name="shippingAddress.houseNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Street Name</label>
        <input type="string" name="shippingAddress.streetName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Town / City</label>
        <input type="string" name="shippingAddress.townCity" class="form-control" />
    </div>
    <div class="form-group">
        <label>Post Code</label>
        <input type="string" name="shippingAddress.postcode" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="file" name="file" id="input-files" class="form-control-file border"/>
    <br>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
    <div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>