
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="/photos/c1.png" alt="text" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Amy Winehouse</h5>
                    <p class="card-text">Amy Jade Winehouse (14 September 1983  23 July 2011) was an English singer and
                        songwriter. She was known for her deep, expressive contralto vocals and her eclectic mix of
                        musical genres, including soul, rhythm and blues and jazz.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/photos/c2.png" alt="text" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Amy Winehouse</h5>
                        <p class="card-text">Amy Jade Winehouse (14 September 1983  23 July 2011) was an English singer and
                            songwriter. She was known for her deep, expressive contralto vocals and her eclectic mix of
                            musical genres, including soul, rhythm and blues and jazz.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/photos/c3.png" alt="text" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Amy Winehouse</h5>
                        <p class="card-text">Amy Jade Winehouse (14 September 1983  23 July 2011) was an English singer and
                            songwriter. She was known for her deep, expressive contralto vocals and her eclectic mix of
                            musical genres, including soul, rhythm and blues and jazz.</p>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>