body {
    background-color: rgb(255, 255, 255);
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}
.header {
    color: aquamarine;
    font-family: 'Questrial', sans-serif;
    font-size: 85px;
    text-align: center;
    background-color: rgb(255, 176, 196);

}
.welcome {
    
    color:  rgb(255, 176, 196);
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    
    
}
#head {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
#topLine {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width:100%; height:100%;
}
.nav{

    padding: 10px;
    text-align: center;
    font-weight: 200;
}
.menuAlignment{
    text-align: right;
    padding: 20px;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    color: rgb(255, 176, 196);
}
a:link {
    text-decoration: none;
  }


.profile {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(255, 200, 196);
    border-radius: 55px;
   
  
}
.innerProfile {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(255, 176, 196);
    border-radius: 55px;
    text-align: center;
    color: white;
    border: 14px solid white;

}


.backgroundProfile {
    /* background-image: url("https://i.ibb.co/kS68PYZ/record.png"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(188, 244, 222);
    /* background-color: brown; */
    
}
.img {
    
    border-radius: 100%;
}
.back {
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: -1;
    position: absolute;
}
.myaccountcover {
    background-color: rgb(255, 255, 255);
    height: 1250px;
}
.footer { 
  bottom: 0px;
       
}


nav {
    background-color: rgb(188, 244, 222);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
   
}
.sam { 
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
   
}
.card {
    
    margin: 1rem auto ;
}
.logo {
    position: absolute;
    left: 25px;
    top: 5px;
}
.buy {
    text-align: center;
}
.details {
    text-align: center;
    padding: 20px;
}
.home {
    padding: 20px;
    text-align: center;

}

.cardbody {
    background-color:  rgb(188, 244, 222);
    text-align: center;

}
.price {
    background-color: rgb(188, 244, 2223);
    text-align: center;
}
.buyindex {
    background-color: rgb(255, 202, 239);
    padding: 3px;
}

.profilePic {
    position: absolute;
    right: 25px;
    top: 7px;
    border-radius: 30px;
    border: white solid 3px ;

}

p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 2rem;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
  }
  
  span {
    position: relative;
  }
  
  span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 9px;
    background: rgb(255, 164, 214);
    bottom: 25px;
    transition: all 0.2s ease-out;
    border-radius: 5px;
  }
  
  p:hover {
    background-position: 0 11px;
  }
  
  span:hover:before {
    transform: translateY(15px)
  }

  .cart {
    position: absolute;
    right: 9rem;
    top: 1px;
    padding: 7px;
    
   
 
}