

body {
    background-color: rgb(255, 255, 255);
    margin: auto;
}
#head {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
#topLine {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
 
    width:100%; height:100%;
}
.nav{
    float: left;
    padding: 20px;
}
.menuAlignment{
    text-align: right;
    padding: 20px;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    color: rgb(242, 179, 231);
}
a:link {
    text-decoration: none;
  }
.profile {
    display: flex;
    flex-direction: column;
   
   
}
.backgroundProfile {
    /* background-image: url("https://i.ibb.co/kS68PYZ/record.png"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    /* background-color: brown; */
    
}
.img {
    
    border-radius: 100%;
}
.back {
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: -1;
    position: absolute;
}
.myaccountcover {
    background-color: rgb(255, 255, 255);
    height: 1250px;
}
.footer { 
  bottom: 0px;
       
}

.hero {
    background-image: url("/photos/bar.png");
    background-size: cover;
    width: 100%;
}
/* .sign {
    float: right;
    background-image: url("/photos/bar.png");
} */

/* .signUp {
        position: absolute;
    background-image: url("/photos/buy.png");
    background-size: contain;
    height: 100px;
    width: 180px;
    top: 80px;
    left: 24%;
    
} */
.buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("/photos/buy.png");
    background-size: contain;
    height: 100px;
    width: 180px;
    top: 80px;
    left: 24%;
}
.sell {
 display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("/photos/sell.png");
    background-size: contain;
    height: 100px;
    width: 180px;
    top: 80px;
    left: 12%; 
}
