
<div class="home"> 
<h2>FREE SHIPPING FOR FIRST TIME BUYERS</h2> 
</div>
<div id="hero" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#hero" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#hero" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/photos/set1.png" alt="Los Angeles" class="d-block w-100">
        </div>
        <div class="carousel-item">
        <img src="photos/set2.png" alt="Chicago" class="d-block w-100">
        </div>
        <div class="carousel-item">
        <img src="/photos/set3.png" alt="New York" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>