
   
<h1> Password Update</h1>

<form method="POST" action="/users/updatePassword?_method=PUT">


    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="password" class="input form-control" />
    </div>
 


    <input type="hidden" name="id" value="<%=user._id%>" />

    <button type="submit" class="btn btn-outline-secondary" > Submit Changes </button>

<br>

</form>

