<form method="POST" action="/user/changePassword?_method=PUT">

    <div class="form-group">
        <label>Password</label>
        <input type="string" name="password" class="form-control" value="<%=user.password%>" />
    </div>




    <input type="hidden" name="id" value="<%=user._id%>" />

    <button type="submit"> Submit Changes </button>

</form>
