
   
<h1> Profile </h1>

<form method="POST" action="/users/update?_method=PUT">


    <div class="form-group">
        <label>password</label>
        <input type="password" name="password" class="form-control" />
    </div>
 


    <input type="hidden" name="id" value="<%=user._id%>" />

    <button type="submit"> Submit Changes </button>

<br>

</form>

